<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Person</title>
</head>
<body>
<h2> Create New Person</h2>

<form th:object="${person}" th:action="@{/save}" method="post">
    <input type="hidden" th:field="*{personId}"/>
    <div>
        <label>User Name:</label>
        <div>
            <input type="text" th:field="*{username}"/>
        </div>
    </div>
    <div>
        <label>Password:</label>
        <div>
            <input type="text" th:field="*{password}"/>
        </div>
    </div>
    <div>
        <label>Email:</label>
        <div>
            <input type="text" th:field="*{email}"/>
        </div>
    </div>
    <button type="submit">Create</button>
</form>
</body>
</html>